.main-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 20px;
    padding-top: 0;
    margin-top: 0;
}

.content-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    /* border: 1px solid black; */
}

.button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.button-container div {
    text-align: center;
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(76, 175, 80);
    color: white;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 5px;
}

.button-container .button-active {
    background-color: rgb(53, 122, 56);
}

.lower-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: 1.2em;
    text-overflow: word-wrap;
    white-space: pre-wrap;
    margin-top: 10px;
    height: fit-content;
    max-height: 55vh;
    border: 3px solid rgb(143, 188, 143);
    overflow-y: auto;
    word-wrap: break-word;
    border-radius: 20px;
}

.inner-container {
    overflow: auto;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    margin: auto;
    word-wrap: break-word;
    height: 100%;
}

code {
}
